.data-personal{
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-personal-2{
    border: none;
    display: flex;
    flex-flow: column;
}
legend{
    font-weight: bold;
}