<main class="main">
    <section class="section-1">
        <h1>Prueba Premium gratis 3 meses</h1>
        <h2>Escucha milliones de canciones sin anuncios, a la carta y sin conexión.</h2>
        <a href="#" class="link-planes" target="_blank">VER PLANES</a>
        <p>Rigen términos y condiciones. Los 3 meses gratis están disponibles para usuarios que ya hayan probado
            Premium.</p>
    </section>
    <section class="section-2">
        <!-- <div> -->
        <h2 class="title">¿Por qué pasarte a Premium?</h2>
        <div class="box-1">
            <img src="" alt="icono música">
            <!-- en vez de imagen span???? -->
            <h3>Descarga música.</h3>
            <p>Llévala siempre contigo.</p>
        </div>
        <div class="box-2">
            <img src="" alt="icono sin anuncios">
            <!-- en vez de imagen span???? -->
            <h3>Sin anuncios.</h3>
            <p>Disfruta de música sin interrupciones.</p>
        </div>
        <div class="box-3">
            <img src="" alt="icono escucha lo que quieras">
            <!-- en vez de imagen span???? -->
            <h3>Escucha lo que quieras.</h3>
            <p>Incluso en el móvil.</p>
        </div>
        <div class="box-4">
            <img src="" alt="icono salta las canciones">
            <!-- en vez de imagen span???? -->
            <h3>Salta todas las canciones que quieras.</h3>
            <p>Simplemente dale a siguiente.</p>
        </div>
        <!-- </div> -->
    </section>
</main>